/* DIGITAL DISPLAY SETTINGS */

.timer {
    width: 500px;
    margin-inline: auto;
    display: flex;
    justify-content: space-evenly;
    color: blue;
}

.field {
    width: 100px;
    display: flex;
    flex-direction: column;
}

.value {
    text-align: center;
    font-size: 50px;;
}

.label {
    text-align: center;
    font-size: 25px;
}

/* CLOCKFACE SETTINGS */

.alert-data {
    margin-inline: auto;
    height: 50px;
    width: 500px;
    font-size: 20px;
    font-size: 25px;
    color: red;
    text-align: center;
}

.clock-face {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: aqua;
    margin-inline: auto;
    position: relative;
}

.arrow {
    position: absolute;
    left: 245px;
    width: 10px;
    border-radius: 5px;
    transform-origin: bottom;
}

.sec-arrow {
    top: 0px;
    height: 250px;
    background-color: green;
}

.min-arrow {
    top: 50px;
    height: 200px;
    background-color: red;
}

.hour-arrow {
    top: 100px;
    height: 150px;
    background-color: blue;
}

.arrow-axis-cover {
    position: absolute;
    top: 240px;
    left: 240px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: green;
}

.clock-digit-container {
    position: absolute;
    top: 0;
    left: 200px;
    height: 250px;
    width: 100px;
    transform-origin: bottom;
}

.clock-digit {
    width: 100px;
    height: 100px;
    font-size: 54px;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-marking-container {
    position: absolute;
    top: 0;
    left: 245px;
    height: 250px;
    width: 10px;
    transform-origin: bottom;
}

.clock-marking {
    height: 20px;
    width: 10px;
    font-size: 54px;
    background-color: blue;
    border-radius: 5px;
}